h1 This is the demo (add)
p You are watching page 
  = $num
p It uses the same controller as /demo/ but it uses another method! Check:
code /src/codeigniter/application/controllers/Demo.php
p To see the magic happen!