h1 This is the demo page of  
  strong
    = $appname
p This page is now another controller! Check out
code /src/codeigniter/application/controllers/Demo.php
p To see the magic happen!
h2 Check out following links to see dynamic pages with method arguments
ul
  - for( $i = 0; $i < count($random); $i++ ):
    li
      a(href=$links[$i]) Random Link with Argument 
        = $random[$i]
  - endfor