h1 This is the demo page of  
  strong
    = $appname
p This page is now another controller! Check out
code /src/codeigniter/application/controllers/Demo.php
p To see the magic happen!
h2 Check out following links to see dynamic pages with method arguments
ul
  - foreach( $random as $rand ):
    li
      - $link = '/demo/add/'.$rand
      a(href=$link) Random Link with Argument 
        = $rand
  - endforeach