.module.fancybox
  
  .images
    margin: 0
    padding: 0
    list-style: none
    margin: 0 -1%
    
    li
      display: inline-block
      margin: 1%
      width: 18%
      
      img
        width: 100%
        height: auto