.module.bloglist
  ul.posts
    list-style: none
    padding: 0
    margin: 0
    
    a
      color: #181818
      display: block
      text-decoration none
      padding: 20px
      
      &:hover
        background: #f4f4f4
      
      p
        color: #888
    
    li.post
      display: block