.module.bloglist.list
  ul.posts
    
    a
      color: #888
      display: block
      text-decoration none
      padding: 6px
      
      &:hover
        background: transparent
        text-decoration: underline
      
      p
        color: #888
    
    li.post
      display: block