doctype html
html
  head
    title
      = $title
    link(rel="stylesheet", type="text/css" href=load_asset('styles/app.css'))
  body
    h1 This is the index page for the app 
      strong
        = $appname
    p Here you can see the working index jade file loaded in the following file:
    code /src/codeigniter/application/controllers/Welcome.php
