- defined('BASEPATH') OR exit('No direct script access allowed');
doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Welcome to CodeIgniter
    link(rel="stylesheet", type="text/css", href=load_asset('styles/app.css'))
  body
    #container
      h1 Welcome to CodeIgniter!
      #body
        p The page you are looking at is being generated dynamically by CodeIgniter.
        p If you would like to edit this page you'll find it located at:
        code application/views/welcome_message.php
        p The corresponding controller for this page is found at:
        code application/controllers/Welcome.php
        p If you are exploring CodeIgniter for the very first time, you should start by reading the 
          a(href="user_guide/") User Guide
          | .
      p.footer
        | Page rendered in 
        strong {elapsed_time} 
        | seconds. 
        = (ENVIRONMENT === 'development') ?  'CodeIgniter Version ' . CI_VERSION : ''