h1 Welcome to CodeIgniter!
p The page you are looking at is being generated dynamically by CodeIgniter.
p If you would like to edit this page you'll find it located at:
code application/views/welcome_message.php
p The corresponding controller for this page is found at:
code application/controllers/Welcome.php
p If you are exploring CodeIgniter for the very first time, you should start by reading the 
  a(href="user_guide/") User Guide
  | .
h2 Oh you want to get started? No problem! Check out the wiki on 
  a(href="https://github.com/db2k/codeigniter-starter/wiki/" target="_blank") github
  | !