.module.html

  h1.real-headline Headlines

  h1 Headline 1
  h2 Headline 2
  h3 Headline 3
  h4 Headline 4
  h5 Headline 5
  h6 Headline 6

  h1.real-headline Paragraphs and Lists

  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam placeat minus quidem hic ex sapiente magni, et, aliquam ullam reiciendis assumenda esse, excepturi saepe reprehenderit delectus labore dolore optio alias!

  ul
    li List Item
    li List Item
    li List Item
    li List Item
    li List Item
    li List Item

  ol
    li List Item
    li List Item
    li List Item
    li List Item
    li List Item
    li List Item

  h1.real-headline Various Elements
    hr
    img(src=$d['placeholder'])
    iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d155419.57279204353!2d13.425136449999998!3d52.50754189999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a84e373f035901%3A0x42120465b5e3b70!2sBerlin!5e0!3m2!1sen!2sde!4v1428941319055" width="600" height="450" frameborder="0" style="border: 0")
    hr
  
  h1 Tables
  table
    tr
      th Table Head 1
      th Table Head 2
      th Table Head 3
    tr
      td Table Row 1
      td Table Row 2
      td Table Row 3
    tr
      td Table Row 1
      td(colspan="2") Table Row Colspan 2

  h1 Form
  form
    fieldset
      legend Inputs
      input(type="text" placeholder="Text")
      input(type="password" placeholder="password")
      input(type="email" placeholder="email")
      input(type="button" value="Button")
    fieldset
      legend Radios
      input(type="radio" name="Radio")
      label(for="radio") Radio
      input(type="radio" name="Radio")
      label(for="radio") Radio
      input(type="radio" name="Radio")
      label(for="radio") Radio
    fieldset
      legend Checkboxes
      input(type="checkbox")
      label(for="checkbox") Radio
      input(type="checkbox")
      label(for="checkbox") Radio
      input(type="checkbox")
      label(for="checkbox") Radio
    fieldset
      legend Textarea
      textarea

  h1 Long Text with stylings
  p Lorem ipsum dolor sit amet, consectetur 
    strong adipisicing elit
    | . Nemo officia, ratione odit cum sit unde harum, quasi quia recusandae optio odio reprehenderit, saepe, 
    em architecto 
    |  aperiam dolorum voluptate repellat debitis molestiae. 
  p Reiciendis repellat maiores laboriosam quibusdam, velit molestiae delectus 
    u nostrum
    |  rem in rerum voluptates saepe officia dicta, aperiam earum distinctio? Ipsam, quos sequi quisquam aspernatur magnam ea quae tenetur explicabo pariatur. Autem numquam explicabo ratione veritatis ullam quibusdam modi, ea reiciendis ab perferendis velit, expedita, enim! Facere nihil nam harum porro fuga tempora optio. Molestias quas veniam, quae necessitatibus repellendus ad. Culpa ex aut eius nostrum itaque consequuntur sapiente, sequi quia dicta quisquam libero similique assumenda incidunt illum et, veritatis eligendi laborum commodi repellat minima fugiat, ipsa ea. Nihil dolorum, amet! Nulla corporis dolorem aspernatur consectetur repudiandae id numquam vel quae distinctio fugit veniam molestiae, accusamus exercitationem, laudantium, ipsum deleniti voluptates autem quidem, soluta! Dolores inventore aliquid, rerum magnam est ex!
  p Cum debitis sit aperiam veniam dicta nam impedit! Ad incidunt, quasi nam. Dolorem culpa a dignissimos nemo, libero alias sapiente quia necessitatibus eaque, exercitationem similique in, illo deserunt odit autem! Laboriosam ratione eos, aspernatur assumenda atque, ullam nam iusto delectus eaque distinctio illo tempore sed in, reprehenderit ipsam fuga perferendis eligendi, vel dolorem quisquam totam aliquam!
  p Illo velit corrupti, optio? Mollitia animi expedita dolores est eos assumenda harum, alias aspernatur vitae, molestiae itaque, non dolorem reprehenderit, illum quis impedit numquam ea. Porro commodi doloribus beatae sed quidem reprehenderit magnam velit! Eius dicta cumque reprehenderit corporis nostrum! Consequatur ab, nisi doloribus quod ex labore sit, iure explicabo nesciunt veritatis cum totam, nihil eius aspernatur aliquid amet id provident fuga optio consequuntur. Qui, totam, explicabo. Adipisci omnis, sint repellendus nisi nulla natus iste accusamus ullam praesentium incidunt molestias nostrum itaque facilis velit voluptas voluptates doloribus eius sequi sit eligendi, libero commodi a! Perferendis, optio nihil repellendus qui sunt nisi laborum totam facere natus, similique ut, reprehenderit eum, iusto quisquam. Aliquam beatae obcaecati quisquam velit quia, adipisci minus! Culpa magni, aperiam sint doloribus? Doloribus unde, reprehenderit. Error aperiam soluta blanditiis, nobis laboriosam dolor voluptatum veritatis excepturi distinctio reprehenderit culpa dolorum, hic ipsam modi voluptatibus molestias doloremque obcaecati cupiditate ab. Consequuntur nihil, temporibus minus.