h1 Flexslider Basic Slider Demo
h3 example
pre
  code
    | #{html}
    | #{body}

h3 Result
- echo $modules['flexslider']

hr

h1 Flexslider Carousel Demo
- echo $modules['flexslider_carousel']

p Click 
  a(href="http://flexslider.woothemes.com/basic-carousel.html" target="_blank") here
  |  for a code example

h1 Flexslider Slideshow with Thumbs
- echo $modules['flexslider_thumbs']

p Click 
  a(href="http://flexslider.woothemes.com/thumbnail-controlnav.html" target="_blank") here
  |  for a code example