.module.pagination
  .btn-group(role="group" aria-label="...")
    a.btn.btn-primary(href="#") 1
    a.btn.btn-default(href="#") 2
    a.btn.btn-default(href="#") 3
    a.btn.btn-default(href="#") 4
    a.btn.btn-default(href="#") 5
    a.btn.btn-default(href="#") 6
    a.btn.btn-default(href="#") 7
    a.btn.btn-default(href="#") 8
    a.btn.btn-default(href="#") 9
    a.btn.btn-default(href="#") 10